#evg-email-capture-popup {
    position: relative;
    z-index: 9999999;
}
#evg-email-capture-popup .evg-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
}
#evg-email-capture-popup .evg-popup {
    background-color: #FFF;
    background-size: cover;
    height: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: fixed;
    top: 50%;
    width: 500px;
}
#evg-email-capture-popup .evg-close {
    background-color: #000;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: -10px;
    top: -10px;
    text-align: center;
    user-select: none;
    width: 30px;
}
#evg-email-capture-popup .evg-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#evg-email-capture-popup .evg-promo {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
    width: 400px;
}
#evg-email-capture-popup .evg-form {
    margin: 10px 0;
    width: 250px;
}
#evg-email-capture-popup .evg-form > input {
    margin: 5px 0;
    width: 100%;
}
#evg-email-capture-popup .evg-form > button {
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0px;
    padding: 10px 30px;
    text-decoration: none;
}

#evg-email-capture-popup .evg-light-text {
    color: white;
}

#evg-email-capture-popup .evg-dark-text {
    color: black;
}
#evg-email-capture-popup .evg-blue-text {
    color: blue;
}


#evg-email-capture-popup .evg-light-text button {
    color: white;
    border: 2px solid white;
    background-color: black;
}

#evg-email-capture-popup .evg-dark-text button {
    color: black;
    border: 2px solid black;
    background-color: white;
}
#evg-email-capture-popup .evg-cancel {
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
#evg-email-capture-popup .evg-confirm-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#evg-email-capture-popup .evg-confirm-text {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
    width: 400px;
}

#evg-email-capture-popup .evg-confirm-subtext {
    display: inline-block;
    font-size: 20px;
    color: magenta;
    margin-bottom: 10px;
    width: 400px;
}



#evg-email-capture-popup .evg-hide {
    display: none;
}
